Repository nandemo-ya/kecs: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, controlplane-test

go-fmt:
  tags: go fmt
  run: 'files=$(echo {staged_files} | sed ''s|controlplane/||g'')
  
    cd controlplane && gofmt -l $files | grep . && exit 1 || exit 0
  
    '

go-vet:
  tags: go vet
  run: cd controlplane && go vet ./...

controlplane-test:
  tags: test unit
  run: 'echo "Running controlplane unit tests..."
  
    cd controlplane && go test ./... -short -race
  
    '

docs: Add TUI LocalStack services configuration screenshot
  docs-site/images/tui-localstack-services.png
Due: none

docs: Add detailed LocalStack services configuration to integration guide
  docs-site/guides/localstack-integration.md
Due: none

docs: Fix TUI command from 'kecs tui' to 'tui'
  docs-site/guides/cli-commands.md
  docs-site/guides/localstack-integration.md
Due: none

docs: Fix TUI command to 'kecs' (not 'tui')
  docs-site/guides/cli-commands.md
  docs-site/guides/localstack-integration.md
Due: none

docs: Add LocalStack services configuration documentation (#725)
  docs-site/guides/cli-commands.md
  docs-site/guides/localstack-integration.md
  docs-site/images/tui-localstack-services.png
Due: none

docs: Fix TUI command from 'kecs tui' to 'kecs'
  docs/production-deployment.md
  docs/tui-api-integration-phase1.md
  docs/tui-backend-api.md
  docs/tui/DEVELOPER_GUIDE.md
  docs/tui/README.md
  docs/tui/USER_GUIDE.md
  docs/tui/kecs-startup-implementation.md
  docs/tui/kecs-startup.md
Due: none

docs: Fix TUI command from 'kecs tui' to 'kecs' (#726)
  docs/production-deployment.md
  docs/tui-api-integration-phase1.md
  docs/tui-backend-api.md
  docs/tui/DEVELOPER_GUIDE.md
  docs/tui/README.md
  docs/tui/USER_GUIDE.md
  docs/tui/kecs-startup-implementation.md
  docs/tui/kecs-startup.md
Due: none

docs: Fix instance flag from --name to --instance
  .serena/memories/suggested_commands.md
  CLAUDE.md
  docs-site/deployment/local.md
  docs/alb-port-mapping.md
  docs/container-commands.md
  examples/service-discovery-route53/README.md
  examples/service-to-service-communication/README.md
Due: none

docs: Fix instance flag from --name to --instance (#727)
  .serena/memories/suggested_commands.md
  CLAUDE.md
  docs-site/deployment/local.md
  docs/alb-port-mapping.md
  docs/container-commands.md
  examples/service-discovery-route53/README.md
  examples/service-to-service-communication/README.md
Due: none

docs: Remove redundant service-discovery-route53 example
  examples/README.md
  examples/service-discovery-route53/README.md
  examples/service-to-service-communication/README.md
Due: none

docs: Remove redundant service-discovery-route53 example (#728)
  examples/README.md
  examples/service-discovery-route53/README.md
  examples/service-to-service-communication/README.md
Due: none

fix: Add Docker image tagging and push steps to service-to-service example
  examples/service-to-service-communication/README.md
  examples/service-to-service-communication/scripts/deploy.sh
Due: none

docs: Align manual deployment steps with deploy.sh script
  examples/service-to-service-communication/README.md
Due: none

fix: Improve service-to-service-communication example deployment (#729)
  examples/service-to-service-communication/README.md
  examples/service-to-service-communication/scripts/deploy.sh
Due: none

feat: Add route53 to default LocalStack services and refactor service validation
  controlplane/internal/localstack/config_test.go
  controlplane/internal/localstack/types.go
Due: go-fmt, go-vet, controlplane-test

feat: Add LocalStack endpoint environment variables to controlplane
  controlplane/internal/host/instance/helpers.go
Due: go-fmt, go-vet, controlplane-test

fix: Update default LocalStack services in ConfigMap
  controlplane/internal/kubernetes/resources/controlplane.go
Due: go-fmt, go-vet, controlplane-test

fix: Add dummy credentials for LocalStack Route53 client
  controlplane/internal/route53/client.go
Due: go-fmt, go-vet, controlplane-test

fix: Skip VPC config for LocalStack Route53 integration
  controlplane/internal/servicediscovery/manager.go
Due: go-fmt, go-vet, controlplane-test

refactor: Pass AWS endpoint as parameter instead of environment variable
  controlplane/internal/controlplane/api/server.go
  controlplane/internal/host/instance/helpers.go
  controlplane/internal/servicediscovery/manager.go
Due: go-fmt, go-vet, controlplane-test

refactor: Manage AWS endpoint URL through configuration
  controlplane/internal/config/config.go
  controlplane/internal/controlplane/api/server.go
  controlplane/internal/host/instance/helpers.go
  controlplane/internal/kubernetes/resources/controlplane.go
Due: go-fmt, go-vet, controlplane-test

feat: Enable Route53 integration for Service Discovery (#730)
  controlplane/internal/config/config.go
  controlplane/internal/controlplane/api/server.go
  controlplane/internal/kubernetes/resources/controlplane.go
  controlplane/internal/localstack/config_test.go
  controlplane/internal/localstack/types.go
  controlplane/internal/route53/client.go
  controlplane/internal/servicediscovery/manager.go
Due: go-fmt, go-vet, controlplane-test

fix: Update ExternalName Service to point to correct ECS Service FQDN
  controlplane/internal/controlplane/api/service_ecs_api.go
  controlplane/internal/servicediscovery/coredns.go
  controlplane/internal/servicediscovery/manager.go
  docs/adr/records/0027-service-discovery-dns-integration.md
Due: go-fmt, go-vet, controlplane-test

fix: Use cluster name instead of hardcoded 'default' in namespace
  controlplane/internal/controlplane/api/service_ecs_api.go
Due: go-fmt, go-vet, controlplane-test

fix: Update ExternalName Service to point to correct ECS Service FQDN (#731)
  controlplane/internal/controlplane/api/service_ecs_api.go
  controlplane/internal/servicediscovery/coredns.go
  controlplane/internal/servicediscovery/manager.go
  docs/adr/records/0027-service-discovery-dns-integration.md
Due: go-fmt, go-vet, controlplane-test

feat: Implement CoreDNS rewrite plugin for Service Discovery DNS resolution
  controlplane/internal/servicediscovery/coredns.go
Due: go-fmt, go-vet, controlplane-test

refactor: Use text/template for CoreDNS configuration generation
  controlplane/internal/servicediscovery/coredns.go
Due: go-fmt, go-vet, controlplane-test

fix: Escape all regex special characters in CoreDNS config and add tests
  controlplane/internal/servicediscovery/coredns.go
  controlplane/internal/servicediscovery/coredns_test.go
  controlplane/internal/servicediscovery/servicediscovery_suite_test.go
Due: go-fmt, go-vet, controlplane-test

feat: Implement CoreDNS rewrite plugin for Service Discovery DNS resolution (#732)
  controlplane/internal/servicediscovery/coredns.go
  controlplane/internal/servicediscovery/coredns_test.go
  controlplane/internal/servicediscovery/servicediscovery_suite_test.go
Due: go-fmt, go-vet, controlplane-test

feat: Improve frontend health check to verify backend connectivity
  examples/service-to-service-communication/frontend/main.go
Due: go-vet

fix: Use json.Marshal for safe JSON construction in health check
  examples/service-to-service-communication/frontend/main.go
Due: go-vet

feat: Improve frontend health check to verify backend connectivity (#733)
  examples/service-to-service-communication/frontend/main.go
Due: go-vet

fix: Remove CoreDNS answer rewrite to fix Go DNS resolver (#734)
  controlplane/internal/servicediscovery/coredns.go
  examples/service-to-service-communication/backend/Dockerfile
  examples/service-to-service-communication/frontend/Dockerfile
Due: go-fmt, go-vet, controlplane-test

fix: Remove CoreDNS answer rewrite to fix Go DNS resolver (#734) (#735)
  controlplane/internal/servicediscovery/coredns.go
  examples/service-to-service-communication/backend/Dockerfile
  examples/service-to-service-communication/frontend/Dockerfile
Due: go-fmt, go-vet, controlplane-test

docs: Add important notes about Debian + CGO requirement for DNS resolution
  examples/service-to-service-communication/README.md
Due: none

docs: Add important notes about Debian + CGO requirement for DNS resolution (#736)
  examples/service-to-service-communication/README.md
Due: none

docs: Add comprehensive Service Discovery documentation and improve naming
  controlplane/docs/service-discovery.md
  controlplane/internal/servicediscovery/README.md
  controlplane/internal/servicediscovery/coredns_test.go
  controlplane/internal/servicediscovery/kubernetes.go
  controlplane/internal/servicediscovery/resolver_test.go
  docs-site/.vitepress/config.js
  docs-site/guides/service-discovery.md
  docs/adr/records/0027-service-discovery-dns-integration.md
  examples/service-to-service-communication/README.md
  examples/service-to-service-communication/frontend-task-def.json
  examples/service-to-service-communication/frontend/main.go
  examples/service-to-service-communication/scripts/cleanup.sh
  examples/service-to-service-communication/scripts/deploy.sh
  examples/service-to-service-communication/scripts/test-communication.sh
Due: go-fmt, go-vet, controlplane-test

docs: Add comprehensive Service Discovery documentation and improve naming (#737)
  controlplane/docs/service-discovery.md
  controlplane/internal/servicediscovery/README.md
  controlplane/internal/servicediscovery/coredns_test.go
  controlplane/internal/servicediscovery/kubernetes.go
  controlplane/internal/servicediscovery/resolver_test.go
  docs-site/.vitepress/config.js
  docs-site/guides/service-discovery.md
  docs/adr/records/0027-service-discovery-dns-integration.md
  examples/service-to-service-communication/README.md
  examples/service-to-service-communication/frontend-task-def.json
  examples/service-to-service-communication/frontend/main.go
  examples/service-to-service-communication/scripts/cleanup.sh
  examples/service-to-service-communication/scripts/deploy.sh
  examples/service-to-service-communication/scripts/test-communication.sh
Due: go-fmt, go-vet, controlplane-test

docs: Add ADR-0028 for KECS GitHub Action design
  docs/adr/records/0028-kecs-github-action.md
Due: none

docs: Add ADR-0028 for KECS GitHub Action design (#738)
  docs/adr/records/0028-kecs-github-action.md
Due: none

Path conditions:
  go-fmt: any of: controlplane/**/*.go
  go-vet: any of: *.go
  controlplane-test: any of: controlplane/**/*.go
