Repository nandemo-ya/kecs: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, controlplane-test

go-fmt:
  tags: go fmt
  run: 'files=$(echo {staged_files} | sed ''s|controlplane/||g'')
  
    cd controlplane && gofmt -l $files | grep . && exit 1 || exit 0
  
    '

go-vet:
  tags: go vet
  run: cd controlplane && go vet ./...

controlplane-test:
  tags: test unit
  run: 'echo "Running controlplane unit tests..."
  
    cd controlplane && go test ./... -short -race
  
    '

fix: Git hook configuration and test stability (#477)
  controlplane/internal/instance/manager_test.go
  controlplane/internal/logging/logger.go
  lefthook.yml
Due: go-fmt, go-vet, controlplane-test

feat: Add ECS health check to Kubernetes probe conversion
  controlplane/internal/converters/service_converter.go
  controlplane/internal/converters/service_converter_health_test.go
  controlplane/internal/converters/task_converter.go
  controlplane/internal/converters/task_converter_health_test.go
Due: go-fmt, go-vet, controlplane-test

feat: Add ECS health check to Kubernetes probe conversion (#478)
  controlplane/internal/converters/service_converter.go
  controlplane/internal/converters/service_converter_health_test.go
  controlplane/internal/converters/task_converter.go
  controlplane/internal/converters/task_converter_health_test.go
Due: go-fmt, go-vet, controlplane-test

fix: Add thread-safety to config package to prevent race conditions
  controlplane/internal/config/config.go
Due: go-fmt, go-vet, controlplane-test

fix: Skip FluentBit deployment and RBAC operations in test mode
  controlplane/internal/controlplane/api/cluster_ecs_api.go
  controlplane/internal/kubernetes/namespace_manager.go
Due: go-fmt, go-vet, controlplane-test

fix: Complete CI environment detection implementation
  controlplane/internal/controlplane/api/cluster_ecs_api.go
  controlplane/internal/controlplane/api/server.go
  controlplane/internal/controlplane/api/task_helpers.go
  controlplane/internal/controlplane/api/test_helpers.go
  controlplane/internal/controlplane/cmd/cluster.go
  controlplane/internal/controlplane/cmd/start.go
  controlplane/internal/instance/helpers.go
  controlplane/internal/instance/manager.go
  controlplane/internal/tui/api/k3d_provider.go
Due: go-fmt, go-vet, controlplane-test

fix: Resolve race condition and CI namespace creation issues
  controlplane/internal/config/config.go
  controlplane/internal/controlplane/api/cluster_ecs_api.go
Due: go-fmt, go-vet, controlplane-test

feat: Replace FluentBit with Vector for CloudWatch Logs integration
  examples/single-task-nginx/service_def_with_logs.json
  examples/vector-cloudwatch/vector-config.yaml
  examples/vector-cloudwatch/vector-daemonset.yaml
  examples/vector-cloudwatch/vector-simple-config.yaml
Due: none

feat: Replace FluentBit with Vector for CloudWatch Logs integration (#480)
  examples/single-task-nginx/service_def_with_logs.json
  examples/vector-cloudwatch/vector-config.yaml
  examples/vector-cloudwatch/vector-daemonset.yaml
  examples/vector-cloudwatch/vector-simple-config.yaml
Due: none

feat: Remove FluentBit integration in favor of Vector
  controlplane/internal/controlplane/api/cluster_ecs_api.go
  controlplane/internal/converters/task_converter.go
  controlplane/internal/integrations/cloudwatch/integration.go
  controlplane/internal/integrations/cloudwatch/integration_complete_test.go
  controlplane/internal/integrations/cloudwatch/integration_test.go
  controlplane/internal/integrations/cloudwatch/types.go
  controlplane/internal/kubernetes/fluent_bit_daemonset.go
  controlplane/internal/kubernetes/fluent_bit_singleton.go
Due: go-fmt, go-vet, controlplane-test

chore: Update test_logs.sh to use Vector instead of FluentBit
  examples/single-task-nginx/test_logs.sh
Due: none

feat: Remove FluentBit integration in favor of Vector (#482)
  controlplane/internal/controlplane/api/cluster_ecs_api.go
  controlplane/internal/converters/task_converter.go
  controlplane/internal/integrations/cloudwatch/integration.go
  controlplane/internal/integrations/cloudwatch/integration_complete_test.go
  controlplane/internal/integrations/cloudwatch/integration_test.go
  controlplane/internal/integrations/cloudwatch/types.go
  controlplane/internal/kubernetes/fluent_bit_daemonset.go
  controlplane/internal/kubernetes/fluent_bit_singleton.go
  examples/single-task-nginx/test_logs.sh
Due: go-fmt, go-vet, controlplane-test

feat: Auto-deploy Vector DaemonSet on KECS instance startup
  controlplane/internal/instance/helpers.go
  controlplane/internal/instance/manager.go
  controlplane/internal/kubernetes/vector_daemonset.go
  controlplane/internal/kubernetes/vector_singleton.go
Due: go-fmt, go-vet, controlplane-test

feat: Auto-deploy Vector DaemonSet on KECS instance startup (#483)
  controlplane/internal/instance/helpers.go
  controlplane/internal/instance/manager.go
  controlplane/internal/kubernetes/vector_daemonset.go
  controlplane/internal/kubernetes/vector_singleton.go
Due: go-fmt, go-vet, controlplane-test

fix: Fix Vector configuration syntax errors
  controlplane/internal/kubernetes/vector_daemonset.go
Due: go-fmt, go-vet, controlplane-test

fix: Use VRL get() function for dynamic key access in Vector config
  controlplane/internal/kubernetes/vector_daemonset.go
Due: go-fmt, go-vet, controlplane-test

fix: Apply CloudWatch Logs annotations to pods created by services
  controlplane/internal/converters/service_converter.go
Due: go-fmt, go-vet, controlplane-test

fix: Apply CloudWatch Logs annotations to pods created by services (#484)
  controlplane/internal/converters/service_converter.go
  controlplane/internal/kubernetes/vector_daemonset.go
Due: go-fmt, go-vet, controlplane-test

feat: Simplify Kubernetes resource naming and fix health check
  controlplane/internal/controlplane/api/service_ecs_api.go
  controlplane/internal/controlplane/api/task_helpers.go
  controlplane/internal/converters/service_converter.go
  controlplane/internal/converters/task_converter.go
  controlplane/internal/converters/task_converter_test.go
  controlplane/internal/kubernetes/service_manager.go
  examples/service-with-secrets/task_def.json
Due: go-fmt, go-vet, controlplane-test

feat: Simplify Kubernetes resource naming and fix health check (#485)
  controlplane/internal/controlplane/api/service_ecs_api.go
  controlplane/internal/controlplane/api/task_helpers.go
  controlplane/internal/converters/service_converter.go
  controlplane/internal/converters/task_converter.go
  controlplane/internal/converters/task_converter_test.go
  controlplane/internal/kubernetes/service_manager.go
  examples/service-with-secrets/task_def.json
Due: go-fmt, go-vet, controlplane-test

fix: Remove incorrect deployment name prefix check in service sync
  controlplane/internal/controllers/sync/service_sync.go
Due: go-fmt, go-vet, controlplane-test

fix: Remove incorrect deployment name prefix check in service sync (#487)
  controlplane/internal/controllers/sync/service_sync.go
Due: go-fmt, go-vet, controlplane-test

fix: Handle case-insensitive status comparison for Start/Stop
  controlplane/internal/tui/api/k3d_provider.go
  controlplane/internal/tui/app.go
Due: go-fmt, go-vet, controlplane-test

fix: Make Start/Stop operations asynchronous to prevent UI freeze
  controlplane/internal/tui/app.go
  controlplane/internal/tui/commands.go
Due: go-fmt, go-vet, controlplane-test

feat: Add confirmation dialogs for Start/Stop operations
  controlplane/internal/tui/app.go
  controlplane/internal/tui/confirm_dialog.go
  controlplane/internal/tui/model.go
Due: go-fmt, go-vet, controlplane-test

feat: Add service-to-service communication example
  examples/README.md
  examples/service-to-service-communication/.gitignore
  examples/service-to-service-communication/Makefile
  examples/service-to-service-communication/README.md
  examples/service-to-service-communication/backend-task-def.json
  examples/service-to-service-communication/backend/Dockerfile
  examples/service-to-service-communication/backend/go.mod
  examples/service-to-service-communication/backend/main.go
  examples/service-to-service-communication/frontend-task-def.json
  examples/service-to-service-communication/frontend/Dockerfile
  examples/service-to-service-communication/frontend/go.mod
  examples/service-to-service-communication/frontend/main.go
  examples/service-to-service-communication/scripts/cleanup.sh
  examples/service-to-service-communication/scripts/deploy.sh
  examples/service-to-service-communication/scripts/test-communication.sh
Due: go-vet

fix: Add missing ECS service definitions and improve example clarity
  examples/service-to-service-communication/README.md
  examples/service-to-service-communication/backend-service-def.json
  examples/service-to-service-communication/frontend-service-def.json
  examples/service-to-service-communication/frontend/main.go
  examples/service-to-service-communication/scripts/deploy.sh
Due: go-vet

feat: Update service-to-service example with k3d registry images
  examples/service-to-service-communication/backend-task-def.json
  examples/service-to-service-communication/frontend-task-def.json
Due: none

Path conditions:
  go-fmt: any of: controlplane/**/*.go
  go-vet: any of: *.go
  controlplane-test: any of: controlplane/**/*.go
